.one {
    background-color: cornflowerblue !important;
}
.two {
background-color: dodgerblue !important;
}
.three {
background-color: royalblue !important;
}
.btn {
    background: #63bbff;
    background-image: -webkit-linear-gradient(top, #63bbff, #009dff);
    background-image: -moz-linear-gradient(top, #63bbff, #009dff);
    background-image: -ms-linear-gradient(top, #63bbff, #009dff);
    background-image: -o-linear-gradient(top, #63bbff, #009dff);
    background-image: linear-gradient(to bottom, #63bbff, #009dff);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #4c8eff;
    background-image: -webkit-linear-gradient(top, #4c8eff, #0099ff);
    background-image: -moz-linear-gradient(top, #4c8eff, #0099ff);
    background-image: -ms-linear-gradient(top, #4c8eff, #0099ff);
    background-image: -o-linear-gradient(top, #4c8eff, #0099ff);
    background-image: linear-gradient(to bottom, #4c8eff, #0099ff);
    text-decoration: none;
  }
  .topper {
    background-image: -webkit-linear-gradient(top, #63bbff, #009dff);
    background-repeat: no-repeat;
    background-size:cover;
  }